.afisha-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-head {
  background-color: white;
  color: #2b1104;
  border-radius: 5px;
  padding: 10px 20px 7px 20px;
  font-weight: bold;
  font-size: 20px;
}

.text-head-second {
  color: white;
  font-weight: 700;
  font-size: 40px;
  padding: 20px;
}
.images{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.image-block{
  display: flex;
  position: relative;
  width: 160px;
  height: 200px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.image-block::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: opacity 0.3s;
}

.image-block:hover::before {
  opacity: 0.7;
  width: 94%;
  height: 100%;
}

.image-block:hover .all-text-none {
  display: block;
}
.image-down,
.image-up,
.image-average{
  display: flex;
  justify-content: center;
}
.all-text-none {
  color: white;
  position: absolute;
  display: none;
  z-index: 2;
}
.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.price{
  border-style: solid;
  background-color: #2b1104;
  border-color: #D5621D;
  border-width: thin;
  border-radius: 5px;
  padding: 7px 15px 7px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: unset;
  width: 90px;
  height: 35px;
  font-size: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.price:hover {
  background-color: #D5621D;
  color: white;
}
.date{
  font-size: 20px;
  font-weight: 300;
  background-color: #D5621D;
  border-radius: 5px;
  padding: 7px 15px 7px 15px;
}

