<div class="body">
  <div class="corporate">
    <div class="corporate-head">
                      <span class="text-head">
                            TOP "MANHATTAN" EVENTS
                       </span>
      <span class="text-head-second">
                            КОРПОРАТИВЫ
                        </span>
    </div>
  </div>
</div>
<div class="text-under-head">
  <p>КОРПОРАТИВЫ</p>
</div>
<div class="price-list">
  <div class="left-list">
    <img class="photo-left" src="./assets/images/home/levtprice.png" alt="">
    <div class="text-under-left">
      <p>Фуршетное меню от 1000 руб.<br>на человека (до 150 человек).</p>
    </div>
  </div>
  <div class="right-list">
    <img class="photo-right" src="./assets/images/home/rightprice.png" alt="">
    <div class="tex-under-right">
      <p>Банкетное меню от 1500 руб.<br>на человека (до 100 человек). </p>
    </div>
  </div>
</div>
<div class="text-under-body">
  <p>ПОЧЕМУ МЫ?</p>
</div>
<div class="text-center">
  <div class="text-first">
    <ul class="info">
      <li>Отдельный зал на 30 человек с профессиональной системой караоке</li>
      <li>Удобная парковка и близость к трем станциям метро в центре города</li>
      <li>Большие экраны</li>
      <li>Танцпол с современной звуковой и световой аппаратурой</li>
      <li>Сцена с проекционным экраном</li>
    </ul>
  </div>
</div>
<app-contacts></app-contacts>

