
  <div class="head-footer">
            <span class="footer-main">
                            TOP "MANHATTAN" PLACE
            </span>
    <span class="main-kontakt">
                           КОНТАКТЫ
            </span>
  </div>
  <div class="backgroung-last">
    <div class="left-background">
      <div class="text-up">
        <div class="first-block-up">
          <div class="adress-main">
            <span>АДРЕС</span>
          </div>
          <div class="adress">
            <p>Набережная реки Фонтанки, 90 (вход в арке с белыми колоннами)</p>
          </div>
        </div>
        <div class="second-block-up">
          <div class="telephone-main">
            <span>ТЕЛЕФОН</span>
          </div>
          <div class="telephone">
            <p>+ (373) 77744419</p>
          </div>
        </div>
        <div class="third-block-up">
          <div class="work-main">
            <span>РЕЖИМ РАБОТЫ</span>
          </div>
          <div class="work">
            <p>Ежедневно с 9:00-19:00</p>
          </div>
        </div>
      </div>
      <div class="last-l">
        <img class="last" src="./assets/images/home/last-L.png" alt="">
        <div class="text-down">
          <div class="first-block-down">
            <div class="director-main">
              <span>ДИРЕКТОР</span>
            </div>
            <div class="director">
              <p>Иванов Иван Иванович</p>
            </div>
          </div>
          <div class="second-block-down">
            <div class="art-director-main">
              <span>АРТ-ДИРЕКТОР</span>
            </div>
            <div class="art-director">
              <p>Иванова Ирина Ивановна</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-background">
      <img class="location" src="./assets/images/home/karta.png" alt="">
    </div>
  </div>
