<div class='header'>
  <div class='header-line'>
    <div class='header-logo'>
      <img class="logo-item" src="../../../assets/images/home/logoL.png" alt=""/>
    </div>
    <div class="nav">
      <a class='nav-item' [routerLink]="['']">Главная</a>
      <a class='nav-item' [routerLink]="['']">Меню</a>
      <a class='nav-item' [routerLink]="['afisha']">Афиша</a>
      <a class='nav-item' [routerLink]="['cooperative']">Сотрудничество</a>
      <a class='nav-item' [routerLink]="['gallery']">Галерея</a>
      <a class='nav-item' [routerLink]="['']">Новости</a>
    </div>
    <div class=''>
      <a class='btn-bron' [routerLink]="['']">БРОНИРОВАНИЕ</a>
    </div>
    <div class="burger-menu">
      <div (click)="isOpenedMenu = !isOpenedMenu" class="burger-icon" [class.active]="isOpenedMenu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <div class="burger-links">
        <a class='nav-item' [routerLink]="['']">Главная</a>
        <a class='nav-item' [routerLink]="['']">Меню</a>
        <a class='nav-item' [routerLink]="['afisha']">Афиша</a>
        <a class='nav-item' [routerLink]="['cooperative']">Сотрудничество</a>
        <a class='nav-item' [routerLink]="['gallery']">Галерея</a>
        <a class='nav-item' [routerLink]="['']">Новости</a>
        <a class='nav-item' [routerLink]="['']">Бронирование</a>
      </div>
    </div>
  </div>
</div>
